.main-navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  z-index: 5;
}

.top-navbar {
  background-color: #f8f9fa;
  padding: 10px 0;
}

.brand-name {
  font-weight: bold;
  color: #0d6efd;
  font-size: 24px;
}

.input-group .form-control {
  border-radius: 20px 0 0 20px;
  border-right: none;
  box-shadow: none;
}

.input-group .btn {
  border-radius: 0 20px 20px 0;
  border-left: none;
  background-color: #0d6efd;
  color: #fff;
}

.input-group .btn:hover {
  background-color: #0b5ed7;
}

.nav-link {
  color: #343a40;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #0d6efd;
}

.dropdown-menu {
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #0d6efd;
}

.navbar {
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.navbar-nav  {
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 5px;
}

.nav-link.active {
  font-weight: bold;
  color: #ffc107 !important; /* yellow for example */
  border-bottom: solid #ffc107;
}


.nav-link i {
  margin-right: 5px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .brand-name {
    font-size: 20px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
    padding: 8px 10px;
  }
}
