<div class="Registration position-relative vh-100 overflow-hidden">
  <div class="video-container position-absolute top-0 start-0 w-100 h-100 z-0">
    <video
      class="w-100 h-100 object-fit-cover"
      src="6754826-uhd_3840_2160_25fps.mp4"
      [muted]="true" [autoplay]="true" [loop]="true"
      Your browser does not support the video tag.>
      >

      Your browser does not support the video tag.
    </video>
    <div class="overlay position-absolute top-0 start-0 w-100 h-100 bg-dark" style="opacity: 0.5;"></div>
  </div>


  <div class="position-relative z-1 d-flex justify-content-center align-items-center h-100 w-100">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="handleForm()"
      class="register-box shadow p-4 w-100"
      style="max-width: 500px;">

      <h3 class="text-center mb-4 text-primary">Register</h3>

      <div class="mb-3">
        <input
          #inputName
          formControlName="username"
          placeholder="User Name"
          type="text"
          class="form-control" />
        <div class="form-text text-danger"
             *ngIf="registerForm.get('username')?.errors && (registerForm.get('username')?.touched || inputName.value)">
          <small *ngIf="registerForm.get('username')?.getError('required')">User Name is Required</small>
          <small *ngIf="registerForm.get('username')?.getError('minlength')">Min 3 characters</small>
          <small *ngIf="registerForm.get('username')?.getError('maxlength')">Max 20 characters</small>
        </div>
      </div>

      <div class="mb-3">
        <input
          #inputEmail
          formControlName="email"
          placeholder="Email"
          type="email"
          class="form-control" />
        <div class="form-text text-danger"
             *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || inputEmail.value)">
          <small *ngIf="registerForm.get('email')?.getError('required')">Email is Required</small>
          <small *ngIf="registerForm.get('email')?.getError('email')">Invalid Email</small>
        </div>
      </div>

      <div class="mb-4">
        <input
          #inputPassword
          formControlName="password"
          placeholder="Password"
          type="password"
          class="form-control" />
        <div class="form-text text-danger"
             *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || inputPassword.value)">
          <small *ngIf="registerForm.get('password')?.getError('required')">Password is Required</small>
          <small *ngIf="registerForm.get('password')?.getError('minlength')">Min 3 characters</small>
          <small *ngIf="registerForm.get('password')?.getError('maxlength')">Max 20 characters</small>
        </div>
      </div>

      <button
        [disabled]="registerForm.invalid || isLoading"
        type="submit"
        class="btn btn-primary w-100">
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin me-2"></i>
        Register
      </button>

      <!-- Error Message -->
      <p *ngIf="messageError" class="text-danger text-center mt-3">{{ messageError }}</p>

        <p class="text-center">
          <a routerLink="/login" class="text-decoration-none">I have an account already?
            <strong>Sign Now</strong>
          </a>
        </p>
    </form>
  </div>
</div>
